html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(12, 12, 12, 1);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
}

main {
    padding-bottom: 2em !important;
}

footer {
    width: 100%;
    font-size: 0.8em;
    background: rgba(12, 12, 12, 1);
    color: rgba(255, 255, 255, 0.6);
    position: static;
    left: 0;
    bottom: 0;
    padding: 2em 1em;
    box-sizing: border-box;
}

.footer-content-cont {
    display: grid;
    row-gap: 1.5em;
}

.footer-section {
    display: grid;
    gap: 1em;
    justify-items: left;
}

.footer-section hr {
    width: 50px;
    justify-self: left;
    margin: 0;
}

.socials-cont {
    display: flex;
    gap: 1em;
}


@media only screen and (min-width: 1024px) {
    body {
        font-size: 14px;
    }

    footer {
        padding: 4em;
    }

    .footer-content-cont {
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}