.index-nav {
    display: none;

    z-index: 1000;
    height: 60px;
    width: 100%;
    background: rgba(12, 12, 12, 1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 5em;
}

@media only screen and (min-width: 1024px) {
    .index-nav {
        display: grid;
    }
}