.divider {
    margin: 1em 0 2em 0;
}

/* ==== */

.gallery-cont {
    width: 100%;
    height: calc(300px + 1.2em);
    position: relative;
}

.gallery-cont>.item-view-return {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    background: rgba(12, 12, 12, 0.2);
    box-shadow: 0 0 5px 5px rgba(12, 12, 12, 0.2);
}

.item-view-return {
    font-size: 1.2em;
}

.item-view-return>.fa-arrow-left {
    margin-right: 1rem;
}

.gallery-cont .carousel {
    background: rgba(12, 12, 12, 0.1);
    height: 100%;
}

.gallery-cont .slides {
    height: unset;
}

.name-price-cont {
    padding: 1em 1.25em;
}

#item-name {
    margin-bottom: 0;
}

#seller-name {
    margin-top: 0;
    color: rgba(12, 12, 12, 0.55);
}

.price-cont {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    gap: 0.5em;
}

.price-cont h2 {
    margin: 0.5em 0 0 0;
    font-size: 2.25em;
}

/* ==== */

main {
    display: grid;
    padding: 1em 1.25em;
    grid-template-columns: 1fr;
}

.main-section {
    display: grid;
    row-gap: 1em;
    margin: 2em 0;
    width: 100%;
}

.main-section h4,
.aside-section h4 {
    margin: 0;
}

.description {
    margin: 0;
    text-align: justify;
}

.contact-details {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.contact-details>pre {
    margin: 0;
}

.contact-details>.fas {
    text-align: center;
}

.contact-details>span {
    font-weight: bold;
    font-size: 0.8em;
}

.main-features {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    border: 1px solid rgba(12, 12, 12, 0.1);
    padding: 0.75em;
    width: 100%;
    box-sizing: border-box;
}

.feature-group,
.location-group,
.seller-group {
    display: grid;
    gap: 0.2em;
    align-content: start;
}

.feature-group label,
.location-group label,
.seller-group label {
    font-weight: bold;
}

.location-cont,
.seller-cont {
    display: grid;
    gap: 1em;
    border: 1px solid rgba(12, 12, 12, 0.1);
    padding: 1em;
    box-sizing: border-box;
}

.desktop {
    display: none;
}

.aside-section {
    grid-template-columns: 1fr;
    gap: 2em;
    height: fit-content
}

.aside-group {
    display: grid;
    gap: 1em;
}


/* ==== */

@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: grid;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: auto;
    }

    main {
        display: grid;
        max-width: 1440px;
        margin: 0 auto;
        grid-template-columns: 1fr auto;
        row-gap: 2em;
        column-gap: 5em;
        box-sizing: border-box;
        width: 100%;
        padding: 0 5em;
    }

    header {
        overflow: hidden;
        max-height: 350px;
    }

    .gallery-cont {
        max-height: inherit;
        padding: 2em;
        box-sizing: border-box;
    }

    .gallery-cont .carousel {
        margin: 0 auto;
        max-width: unset;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }

    .item-view-return {
        display: none;
    }

    .carousel .slides {
        overflow: hidden;
    }

    .carousel .carousel-dots {
        margin: 2em 0 1em 0;
    }

    .name-price-cont {
        grid-column: 1/3;
        padding: 0;
        display: grid;
    }

    .divider {
        grid-column: 1/3;
        width: 100%;
        margin: 0;
    }

    .price-cont {
        grid-column: 2/3;
        grid-row: 1/3;
        justify-self: end;
        align-self: center;
    }

    .price-cont h2 {
        font-size: 2.5em;
        margin: 0;
    }

    .item-info-cont {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .main-features {
        display: flex;
        column-gap: 2em;
        row-gap: 1em;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .main-section {
        margin: 1em 0;
    }

    .contact-cont {
        grid-column: 2/3;
        background: rgba(12, 12, 12, 0.25);
        padding: 1em;
        box-sizing: border-box;
        border-radius: 5px;
    }
}