body {
    margin: 0;
}

#inputpanel {
    position: absolute;
    display: block;
    text-align: center;
    left: 800px;
    top: 75px;
    width: 425px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
}

#logintext{
    position: absolute;
    text-align: left;
    left: 40px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;

}

#signuptext{
    position: absolute;
    text-align: center;
    left: 130px;
    top: 300px;
    font-family: "Verdana";
    font-size: 10pt;
    color: dimgrey;

}

#signuptext a{
    text-decoration: none;
    color: black;
}

#input {
    position: relative;
    margin: 0 auto;
    top: 100px;
    background-color: crimson;
    padding: 0;
    background-color: transparent;
}

#username, #password{
    width: 350px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 10px;
    -webkit-box-sizing: border-box;
}

#loginBtn{
    width: 355px;
    height: 35px;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    font-family: "Arial";
    color: white;
    background-color: black;
}

#header {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background-color: white;
}

#mainpanel {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: gray;
}

#icontext {
    position: absolute;
    font-family: courier;
    font-size: 30pt;
    top: -28px;
    left: 50px;
    font-weight: bold;
}

#loginheader {
    position: absolute;
    left: 1300px;
    top: -3px;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}