header {
    background: rgba(12, 12, 12, 0.5);
}

.pfp-wrapper {
    position: relative;
    height: 175px;
}

.pfp-pic {
    position: absolute;
    bottom: -100px;
    left: calc(50% - 75px);
    border-radius: 50%;
}

.pfp-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    background: rgba(12, 12, 12, 0.2);
    box-shadow: 0 0 5px 5px rgba(12, 12, 12, 0.2);
    color: #FAFAFA;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.pfp-header .fa-arrow-left {
    margin-right: 0.75em;
}

main {
    margin-top: 100px;
    padding: 0.5em;
}

.profile-cont {
    display: grid;
}

.username-cont {
    justify-self: center;
    display: grid;
}


.profile-cont .username {
    font-size: 1.5em;
}

.profile-cont .seller-badge {
    background: rgb(12, 12, 12);
    box-shadow: 1px 1px 12px 0 rgba(12, 12, 12, 0.25);
    color: white;
    justify-self: center;
    padding: 0.5em 1em;
    border-radius: 20px;
    margin-top: 1em;
}

.info-cont {
    display: grid;
    gap: 0.5em;
}

.info-cont label {
    color: rgba(12, 12, 12, 0.5);
    font-weight: bold;
    margin-top: 0.75em;
}

.info-cont span {
    font-size: 1.25em;
}

.divider {
    margin: 2em 0;
    border-top: 1px solid rgba(12, 12, 12, 0.25);
}

.rental-items-section {
    display: grid;
}

.items-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.item-card {
    display: grid;
    gap: 1em;
    padding: 1em 0;
}

.user-cont {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5em;
}

.user-pfp {
    width: 32px;
}

.user-name {
    font-size: 1.1em;
}

.item-preview-cont {
    width: 100%;
    height: 160px;
    background: rgba(24, 24, 24, 0.1);
}

.item-preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.item-desc {
    display: grid;
    gap: 0.2em;
}

.item-name {
    font-weight: bold;
}

.item-loc,
.item-price {
    color: rgba(12, 12, 12, 0.75);
}

.item-price {
    font-size: 1.2em;
}

.check-more-cont {
    margin: 1.5em 0;
    justify-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 0.25em;
}

.check-more-cont .fa-angle-right {
    font-size: 1.3em;
}

.desktop-pfp-pic {
    display: none;
    border-radius: 50%;
    position: absolute;
    top: -150px;
}

.desktop-pfp {
    display: grid;
    justify-items: center;
    position: relative;
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: auto;
    }

    .pfp-pic {
        display: none;
    }

    .desktop-pfp-pic {
        display: initial;
    }

    main {
        grid-template-columns: auto 1fr;
        display: grid;
        margin-top: 100px;
    }

    main .divider {
        display: none;
    }

    .profile-wrapper {
        border-right: 2px solid rgba(12, 12, 12, 0.25);
    }

    .profile-cont {
        min-width: 250px;
        padding: 0 2em;
    }

    .username-cont {
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 1em;
        margin-bottom: 1.5em;
    }

    .profile-cont .username {
        font-size: 1.25em;
    }

    .profile-cont .seller-badge {
        margin-top: 0;
        font-size: 12px;
    }

    .rental-items-section {
        padding: 0 2em;
    }

    .info-cont {
        font-size: 12px;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1em;
    }

    .info-cont label {
        margin: 0;
    }

    .items-cont {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .item-card {
        flex-basis: 20%;
        width: 280px;
        max-width: 280px;
        min-width: 280px;
        border: 1px solid rgba(12, 12, 12, 0.1);
        padding: 1em;
    }
}