main,
header {
    padding: 1em 1.25em;
}

header .fas {
    margin-right: 0.75em;
}

.rental-item-form {
    display: grid;
    row-gap: 1em;
}

input,
select,
textarea {
    padding: 0.5em 1em;
    border: 1px solid rgba(12, 12, 12, 0.4);
    border-radius: 5px;
    font-size: 1em;
}

select {
    width: 100%;
}

label {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
}

textarea {
    font-family: inherit;
    resize: none;
}

.form-btn-cont {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 2.5em;
}

.btn {
    padding: 0.75em 1em;
    background: rgb(12, 12, 12);
    color: white;
    border: 0;
    border-radius: 5px;
}

.base-price-cont {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
}

.base-price-php {
    padding: 0.4em 1em;
    border: 1px solid rgba(12, 12, 12, 0.5);
    border-radius: 5px 0 0 5px;
    background: rgba(12, 12, 12, 0.1);
    font-weight: bold;
}

#base-price {
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

.features-cont,
.custom-loc-cont {
    display: grid;
    gap: 1em;
    border: 1px solid rgba(12, 12, 12, 0.2);
    padding: 1em;
    border-radius: 5px;
}

#app-features,
#furniture-features,
#property-features,
#vehicle-features,
#m-clothing-features,
#w-clothing-features,
#other-features,
#custom-loc-label,
#custom-loc-cont {
    display: none;
}

#temp-features-cont {
    border-radius: 5px;
    align-self: center;
    color: rgba(12, 12, 12, 0.5);
    padding: 0.5em;
    background: rgba(12, 12, 12, 0.2);
}

@media only screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: auto;
    }

    main,
    header {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    .rental-item-form {
        grid-template-columns: auto 1fr;
        column-gap: 1em;
    }

    label {
        text-align: right;
        align-self: center;
        margin-bottom: 1em;
    }

    label[for="item-description"],
    label[for="pictures"],
    label[for="features"],
    label[for="custom-address"] {
        align-self: initial;
    }

    .form-btn-cont {
        grid-column: 1/3;
        justify-self: right;
    }

    .btn {
        width: 7.5em;
    }

    .features-cont {
        grid-template-columns: auto 1fr;
    }
}