main {
    padding: 0 0.5em 1em 0.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* searchbar */

.searchbar {
    height: 70px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.searchbar button {
    border: 1px solid rgb(12, 12, 12);
    border-left: 0;
    padding: 0.5em 1em;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
}

.searchbar input {
    padding: 0.5em;
    padding-left: 1em;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

/* catalogue, ads */

.category-cont {
    overflow-x: auto;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    /* box-shadow: 2px 2px 5px 0 rgba(24, 24, 24, 0.2); */
    /* border: 1px solid rgba(12, 12, 12, 0.5); */
    /* border-radius: 5px; */
}

.category-item p {
    margin: 0;
}

.category-item {
    display: grid;
    justify-items: center;
    row-gap: 0.5em;
    min-width: 130px;
    padding: 1em 0;
}

.category-item img {
    height: 5em;
}

/* item details */

.recommend-cont {
    display: grid;
}

.items-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.item-card {
    display: grid;
    gap: 1em;
    padding: 1em 0;
}

.user-cont {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5em;
}

.user-pfp {
    width: 32px;
}

.user-name {
    font-size: 1.1em;
}

.item-preview-cont {
    width: 100%;
    height: 160px;
    background: rgba(24, 24, 24, 0.1);
}

.item-preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.item-desc {
    display: grid;
    gap: 0.2em;
}

.item-name {
    font-weight: bold;
}

.item-loc,
.item-price {
    color: rgba(12, 12, 12, 0.75);
}

.item-price {
    font-size: 1.2em;
}

.check-more-cont {
    margin: 1.5em 0;
    justify-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 0.25em;
}

.check-more-cont .fa-angle-right {
    font-size: 1.3em;
}

@media only screen and (min-width: 920px) {

    main,
    .searchbar {
        max-width: 1000px;
        margin: 0 auto;
    }

    .searchbar {
        padding: 0;
    }

    .carousel {
        height: 400px;
        max-width: 1000px;
    }

    .carousel .slides {
        height: inherit;
    }

    .items-cont {
        grid-template-columns: 1fr 1fr 1fr;
    }
}